@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.stars-background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: starAnimation linear infinite;
}

.star:nth-child(odd) {
  width: 3px;
  height: 3px;
  opacity: 0.6;
}

@keyframes starAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.group:hover .group-hover\\:opacity-100 {
  opacity: 1 !important;
}
